.cat-card {
  width: 300px;
  box-shadow: 3px 3px 10px black;
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.card-picture {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-infos h2 {
  margin-top: 0;
}

.card-infos {
  padding: 10px;
  height: 100%;
}

.cat-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.cat-card:hover .card-infos {
  background-color: grey;
  color: white;
}

.button-cat {
  margin: 30px auto;
  width: 250px;
  color: whitesmoke;
  background-color: tomato;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  font-size: 20px;
}
