.hobbies-picture {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px;
}

.hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 200px;
  margin-top: 20px;
}
